#ATR_1 {
    color: rgb(103, 103, 103);
    height: 136.667px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 68.3333px;
    transform-origin: 582.778px 68.3333px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_1*/
#ATD_2 {
    color: rgb(103, 103, 103);
    height: 136.441px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 68.2118px;
    transform-origin: 582.778px 68.2118px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_2*/
#ATABLE_3 {
    color: rgb(103, 103, 103);
    height: 124.444px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.2222px;
    transform-origin: 582.778px 62.2222px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    border-spacing: 0px 0px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TABLE_3*/
#ATBODY_4 {
    color: rgb(103, 103, 103);
    height: 124.444px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.2222px;
    transform-origin: 582.778px 62.2222px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TBODY_4*/
#ATR_5 {
    color: rgb(103, 103, 103);
    height: 124.444px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.2222px;
    transform-origin: 582.778px 62.2222px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_5*/
#ATD_6 {
    color: rgb(103, 103, 103);
    height: 124.983px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.4826px;
    transform-origin: 582.778px 62.4826px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_6*/
#ADIV_7, #ADIV_8 {
    color: rgb(103, 103, 103);
    height: 124.983px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.4826px;
    transform-origin: 582.778px 62.4826px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#DIV_7, #DIV_8*/
#AA_9 {
    color: rgb(103, 103, 103);
    cursor: auto;
    text-decoration: none solid rgb(103, 103, 103);
    column-rule-color: rgb(103, 103, 103);
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#A_9*/
#AH3_10 {
    bottom: 4.26667px;
    color: rgb(102, 102, 102);
    height: 20px;
    left: -2px;
    position: relative;
    right: 2px;
    text-decoration: none solid rgb(102, 102, 102);
    top: -4.26667px;
    width: 1165.56px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 582.778px 10px;
    transform-origin: 582.778px 10px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 17.0667px / normal Verdana, Arial, sans-serif;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#H3_10*/
#ATABLE_11 {
    color: rgb(103, 103, 103);
    height: 18.8889px;
    text-decoration: none solid rgb(103, 103, 103);
    unicode-bidi: isolate;
    width: 774.444px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 387.222px 9.44444px;
    transform-origin: 387.222px 9.44444px;
    caret-color: rgb(103, 103, 103);
    border-spacing: 0px 0px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 15px 0px 0px;
    outline: rgb(103, 103, 103) none 0px;
}/*#TABLE_11*/
#ATBODY_12 {
    color: rgb(103, 103, 103);
    height: 18.8889px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 774.444px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 387.222px 9.44444px;
    transform-origin: 387.222px 9.44444px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TBODY_12*/
#ATR_13 {
    color: rgb(103, 103, 103);
    height: 18.8889px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 774.444px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 387.222px 9.44444px;
    transform-origin: 387.222px 9.44444px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_13*/
#ATD_14 {
    color: rgb(103, 103, 103);
    height: 17.7778px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 690px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 345px 9.375px;
    transform-origin: 345px 9.375px;
    caret-color: rgb(103, 103, 103);
    border-top: 0.989583px solid rgb(214, 232, 255);
    border-right: 0px none rgb(103, 103, 103);
    border-bottom: 0px none rgb(103, 103, 103);
    border-left: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_14*/
#AH4_15 {
    color: rgb(102, 102, 102);
    height: 17.7778px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 690px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 345px 8.88889px;
    transform-origin: 345px 8.88889px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#H4_15*/
#ATD_16 {
    color: rgb(103, 103, 103);
    height: 17.7778px;
    text-align: -webkit-right;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 84.4445px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 42.2222px 9.375px;
    transform-origin: 42.2222px 9.375px;
    caret-color: rgb(103, 103, 103);
    border-top: 0.989583px solid rgb(214, 232, 255);
    border-right: 0px none rgb(103, 103, 103);
    border-bottom: 0px none rgb(103, 103, 103);
    border-left: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_16*/
#AA_17 {
    color: rgb(0, 114, 188);
    height: 22px;
    text-align: -webkit-right;
    text-decoration: none solid rgb(0, 114, 188);
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    background: rgb(214, 232, 255) url("http://win-sharepointd/_layouts/images/toolgrad.gif") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.989583px solid rgb(131, 176, 236);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
    padding: 0px 5px;
}/*#A_17*/
#ADIV_18 {
    color: rgb(76, 76, 76);
    height: 17.7778px;
    text-decoration: none solid rgb(76, 76, 76);
    width: 775px;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 387.5px 17.8819px;
    transform-origin: 387.5px 17.8819px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
    padding: 6px 0px 12px;
}/*#DIV_18*/
#ADIV_19 {
    color: rgb(76, 76, 76);
    height: 17.7778px;
    text-decoration: none solid rgb(76, 76, 76);
    unicode-bidi: isolate;
    width: 775px;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 387.5px 8.88889px;
    transform-origin: 387.5px 8.88889px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#DIV_19*/ 
#ADIV_20 {
    color: rgb(76, 76, 76);
    height: 17.7778px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    unicode-bidi: isolate;
    width: 775px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 387.5px 8.88889px;
    transform-origin: 387.5px 8.88889px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#DIV_20*/
#ADIV_21 {
    color: rgb(102, 102, 102);
    height: 13.3333px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 1165.56px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 582.778px 17.6563px;
    transform-origin: 582.778px 17.6563px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 22px;
}/*#DIV_21*/
#ANOBR_22 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#NOBR_22*/
#ASPAN_23 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    white-space: nowrap;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_23*/
#AA_24 {
    color: rgb(0, 114, 188);
    text-decoration: none solid rgb(0, 114, 188);
    white-space: nowrap;
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
    padding: 4px 0px 0px;
}/*#A_24*/
#AIMG_25 {
    color: rgb(102, 102, 102);
    height: 0.989583px;
    text-decoration: none solid rgb(102, 102, 102);
    white-space: nowrap;
    width: 2.98611px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 1.49306px 0.486111px;
    transform-origin: 1.49306px 0.486111px;
    caret-color: rgb(102, 102, 102);
    border: 0px solid rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_25*/
#AIMG_26 {
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 11.9965px;
    text-decoration: none solid rgb(102, 102, 102);
    vertical-align: top;
    white-space: nowrap;
    width: 11.9965px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 5.98958px 5.98958px;
    transform-origin: 5.98958px 5.98958px;
    caret-color: rgb(102, 102, 102);
    border: 0px solid rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 0px 3px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_26*/
#ASPAN_27 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    unicode-bidi: isolate;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_27*/
#ADIV_28 {
    color: rgb(103, 103, 103);
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 0px;
    transform-origin: 582.778px 0px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 1.33333px / normal Verdana, Arial, sans-serif;
    margin: 12px 0px 0px;
    outline: rgb(103, 103, 103) none 0px;
}/*#DIV_28*/

