#BTR_1 {
    color: rgb(103, 103, 103);
    height: 278.889px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 777.778px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 388.889px 139.444px;
    transform-origin: 388.889px 139.444px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_1*/
#BTD_2 {
    color: rgb(103, 103, 103);
    height: 276.875px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 83.4549px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 47.2222px 139.427px;
    transform-origin: 47.2222px 139.427px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
    padding: 1px 10px 1px 1px;
}/*#TD_2*/
#BDIV_3 {
    background-position: 0% 100%;
    color: rgb(103, 103, 103);
    height: 12.9861px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 75px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 38.4896px 7.48264px;
    transform-origin: 38.4896px 7.48264px;
    caret-color: rgb(103, 103, 103);
    background: rgb(0, 114, 188) url("http://win-sharepointd/_layouts/images/calTopBkgd.png") repeat-x scroll 0% 100% / auto padding-box border-box;
    border-top: 0.989583px solid rgb(0, 85, 141);
    border-right: 0.989583px solid rgb(0, 69, 114);
    border-bottom: 0.989583px solid rgb(0, 61, 102);
    border-left: 0.989583px solid rgb(0, 85, 141);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 5px 7px 0px 0px;
    outline: rgb(103, 103, 103) none 0px;
}/*#DIV_3*/
#BDIV_4 {
    background-position: 0% 100%;
    color: rgb(101, 104, 107);
    display: table;
    height: 36.2326px;
    max-width: 75px;
    min-height: 38px;
    overflow-wrap: break-word;
    table-layout: fixed;
    text-align: center;
    text-decoration: none solid rgb(101, 104, 107);
    width: 74.4444px;
    word-spacing: 117.333px;
    word-wrap: break-word;
    column-rule-color: rgb(101, 104, 107);
    perspective-origin: 37.2222px 21.1111px;
    transform-origin: 37.2222px 21.1111px;
    caret-color: rgb(101, 104, 107);
    background: rgb(241, 241, 241) url("http://win-sharepointd/_layouts/images/calMainBkgd.png") repeat-x scroll 0% 100% / auto padding-box border-box;
    border-top: 0px hidden rgb(193, 199, 205);
    border-right: 0.989583px solid rgb(158, 163, 168);
    border-bottom: 0.989583px solid rgb(145, 149, 154);
    border-left: 0.989583px solid rgb(193, 199, 205);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 11.7333px / 15.2533px verdana;
    margin: 0px 7px 0px 0px;
    outline: rgb(101, 104, 107) none 0px;
    padding: 4px 0px 2px;
}/*#DIV_4*/
#BDIV_5 {
    color: rgb(101, 104, 107);
    height: 28.8889px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(101, 104, 107);
    width: 72.2222px;
    word-spacing: 117.333px;
    word-wrap: break-word;
    column-rule-color: rgb(101, 104, 107);
    perspective-origin: 36.1111px 14.4444px;
    transform-origin: 36.1111px 14.4444px;
    caret-color: rgb(101, 104, 107);
    border: 0px none rgb(101, 104, 107);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 11.7333px / 15.2533px verdana;
    outline: rgb(101, 104, 107) none 0px;
}/*#DIV_5*/
#BTD_6 {
    color: rgb(103, 103, 103);
    height: 277.066px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 678.021px;
    word-wrap: break-word;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 340px 139.514px;
    transform-origin: 340px 139.514px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
    padding: 1px;
}/*#TD_6*/
#BTABLE_7 {
    color: rgb(103, 103, 103);
    height: 25.5556px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(103, 103, 103);
    unicode-bidi: isolate;
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 340px 12.7778px;
    transform-origin: 340px 12.7778px;
    caret-color: rgb(103, 103, 103);
    border-spacing: 0px 0px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TABLE_7*/
#BTBODY_8 {
    color: rgb(103, 103, 103);
    height: 25.5556px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(103, 103, 103);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 340px 12.7778px;
    transform-origin: 340px 12.7778px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TBODY_8*/
#BTR_9 {
    color: rgb(103, 103, 103);
    height: 25.5556px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 340px 12.7778px;
    transform-origin: 340px 12.7778px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_9*/
#BTD_10 {
    color: rgb(103, 103, 103);
    height: 25.5556px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 600px;
    word-wrap: break-word;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 300px 12.7778px;
    transform-origin: 300px 12.7778px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 21.3333px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_10*/
#BA_11 {
    color: rgb(0, 114, 188);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(0, 114, 188);
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 21.3333px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#A_11*/
#BTD_12 {
    color: rgb(103, 103, 103);
    height: 25.5556px;
    overflow-wrap: break-word;
    text-align: -webkit-right;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 80px;
    word-wrap: break-word;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 40px 12.7778px;
    transform-origin: 40px 12.7778px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_12*/
#BA_13 {
    color: rgb(0, 114, 188);
    height: 22px;
    overflow-wrap: break-word;
    text-align: -webkit-right;
    text-decoration: none solid rgb(0, 114, 188);
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    background: rgb(214, 232, 255) url("http://win-sharepointd/_layouts/images/toolgrad.gif") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.989583px solid rgb(131, 176, 236);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
    padding: 0px 5px;
}/*#A_13*/
#BDIV_14 {
    color: rgb(102, 102, 102);
    height: 13.3333px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 340px 17.6563px;
    transform-origin: 340px 17.6563px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 22px;
}/*#DIV_14*/
#BSPAN_15, #BNOBR_16, #BSPAN_21, #BSPAN_48 {
    color: rgb(102, 102, 102);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_15, #NOBR_16, #SPAN_21, #SPAN_48*/
#BSPAN_17 {
    color: rgb(102, 102, 102);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_17*/
#BA_18, #BA_49 {
    color: rgb(0, 114, 188);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(0, 114, 188);
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#A_18, #A_49*/
#BIMG_19 {
    color: rgb(102, 102, 102);
    height: 0.989583px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    white-space: nowrap;
    width: 2.98611px;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 1.49306px 0.486111px;
    transform-origin: 1.49306px 0.486111px;
    caret-color: rgb(102, 102, 102);
    border: 0px solid rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_19*/
#BIMG_20 {
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 11.9965px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    vertical-align: top;
    white-space: nowrap;
    width: 11.9965px;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 5.98958px 5.98958px;
    transform-origin: 5.98958px 5.98958px;
    caret-color: rgb(102, 102, 102);
    border: 0px solid rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 0px 3px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_20*/
#BDIV_22 {
    color: rgb(102, 102, 102);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 340px 0px;
    transform-origin: 340px 0px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_22*/
#BDIV_23 {
    color: rgb(76, 76, 76);
    height: 159.965px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 340px 88.9757px;
    transform-origin: 340px 88.9757px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
    padding: 6px 0px 12px;
}/*#DIV_23*/
#BDIV_24, #BDIV_26 {
    color: rgb(76, 76, 76);
    height: 149.306px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 340px 74.6528px;
    transform-origin: 340px 74.6528px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#DIV_24, #DIV_26*/
#BDIV_25 {
    color: rgb(76, 76, 76);
    height: 149.306px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    unicode-bidi: isolate;
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 340px 74.6528px;
    transform-origin: 340px 74.6528px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#DIV_25*/
#BP_27, #BP_30 {
    color: rgb(76, 76, 76);
    height: 13.3333px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 340px 6.66667px;
    transform-origin: 340px 6.66667px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 0px 0px 10.6667px;
    outline: rgb(76, 76, 76) none 0px;
}/*#P_27, #P_30*/
#BSTRONG_28, #BSTRONG_29 {
    color: rgb(76, 76, 76);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 700 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#STRONG_28, #STRONG_29*/
#BSTRONG_31 {
    color: rgb(76, 76, 76);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 700 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#STRONG_31*/
#BP_32, #BP_33 {
    color: rgb(76, 76, 76);
    height: 26.6667px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 340px 13.3333px;
    transform-origin: 340px 13.3333px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 0px 0px 10.6667px;
    outline: rgb(76, 76, 76) none 0px;
}/*#P_32, #P_33*/
#BP_34 {
    color: rgb(76, 76, 76);
    height: 26.6667px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 340px 13.3333px;
    transform-origin: 340px 13.3333px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 0px 0px 10.6667px;
    outline: rgb(76, 76, 76) none 0px;
}/*#P_34*/
#BDIV_35 {
    color: rgb(102, 102, 102);
    height: 18.2118px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    width: 680px;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 340px 20.1042px;
    transform-origin: 340px 20.1042px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 22px;
}/*#DIV_35*/
#BSPAN_36, #BSPAN_40, #BSPAN_44 {
    color: rgb(102, 102, 102);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(102, 102, 102);
    vertical-align: middle;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_36, #SPAN_40, #SPAN_44*/
#BSPAN_37, #BSPAN_41, #BSPAN_45 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 15.9896px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 15.9896px;
    word-wrap: break-word;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 7.98611px 7.98611px;
    transform-origin: 7.98611px 7.98611px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
}/*#SPAN_37, #SPAN_41, #SPAN_45*/
#BA_38, #BA_42, #BA_46 {
    color: rgb(0, 114, 188);
    display: inline-block;
    height: 15.9896px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(0, 114, 188);
    white-space: nowrap;
    width: 15.9896px;
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    perspective-origin: 7.98611px 7.98611px;
    transform-origin: 7.98611px 7.98611px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#A_38, #A_42, #A_46*/
#BIMG_39 {
    bottom: -284.01px;
    color: rgb(0, 114, 188);
    cursor: pointer;
    display: block;
    height: 711.997px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: -80px;
    text-decoration: none solid rgb(0, 114, 188);
    top: -412px;
    vertical-align: middle;
    white-space: nowrap;
    width: 95.9896px;
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    perspective-origin: 47.9861px 355.99px;
    transform-origin: 47.9861px 355.99px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#IMG_39*/
#BIMG_43 {
    bottom: -429.01px;
    color: rgb(0, 114, 188);
    cursor: pointer;
    display: block;
    height: 711.997px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: -80px;
    text-decoration: none solid rgb(0, 114, 188);
    top: -267px;
    vertical-align: middle;
    white-space: nowrap;
    width: 95.9896px;
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    perspective-origin: 47.9861px 355.99px;
    transform-origin: 47.9861px 355.99px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#IMG_43*/
#BIMG_47 {
    bottom: -300.017px;
    color: rgb(0, 114, 188);
    cursor: pointer;
    display: block;
    height: 711.997px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: -80px;
    text-decoration: none solid rgb(0, 114, 188);
    top: -396px;
    vertical-align: middle;
    white-space: nowrap;
    width: 95.9896px;
    word-wrap: break-word;
    column-rule-color: rgb(0, 114, 188);
    perspective-origin: 47.9861px 355.99px;
    transform-origin: 47.9861px 355.99px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    border-spacing: 1.11111px 1.11111px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#IMG_47*/

 #ATR_1 {
    color: rgb(103, 103, 103);
    height: 136.667px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 68.3333px;
    transform-origin: 582.778px 68.3333px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_1*/
#ATD_2 {
    color: rgb(103, 103, 103);
    height: 136.441px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 68.2118px;
    transform-origin: 582.778px 68.2118px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_2*/
#ATABLE_3 {
    color: rgb(103, 103, 103);
    height: 124.444px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.2222px;
    transform-origin: 582.778px 62.2222px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    border-spacing: 0px 0px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TABLE_3*/
#ATBODY_4 {
    color: rgb(103, 103, 103);
    height: 124.444px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.2222px;
    transform-origin: 582.778px 62.2222px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TBODY_4*/
#ATR_5 {
    color: rgb(103, 103, 103);
    height: 124.444px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.2222px;
    transform-origin: 582.778px 62.2222px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_5*/
#ATD_6 {
    color: rgb(103, 103, 103);
    height: 124.983px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.4826px;
    transform-origin: 582.778px 62.4826px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_6*/
#ADIV_7, #ADIV_8 {
    color: rgb(103, 103, 103);
    height: 124.983px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 62.4826px;
    transform-origin: 582.778px 62.4826px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#DIV_7, #DIV_8*/
#AA_9 {
    color: rgb(103, 103, 103);
    cursor: auto;
    text-decoration: none solid rgb(103, 103, 103);
    column-rule-color: rgb(103, 103, 103);
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#A_9*/
#AH3_10 {
    bottom: 4.26667px;
    color: rgb(102, 102, 102);
    height: 20px;
    left: -2px;
    position: relative;
    right: 2px;
    text-decoration: none solid rgb(102, 102, 102);
    top: -4.26667px;
    width: 1165.56px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 582.778px 10px;
    transform-origin: 582.778px 10px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 17.0667px / normal Verdana, Arial, sans-serif;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#H3_10*/
#ATABLE_11 {
    color: rgb(103, 103, 103);
    height: 18.8889px;
    text-decoration: none solid rgb(103, 103, 103);
    unicode-bidi: isolate;
    width: 774.444px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 387.222px 9.44444px;
    transform-origin: 387.222px 9.44444px;
    caret-color: rgb(103, 103, 103);
    border-spacing: 0px 0px;
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 15px 0px 0px;
    outline: rgb(103, 103, 103) none 0px;
}/*#TABLE_11*/
#ATBODY_12 {
    color: rgb(103, 103, 103);
    height: 18.8889px;
    text-decoration: none solid rgb(103, 103, 103);
    width: 774.444px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 387.222px 9.44444px;
    transform-origin: 387.222px 9.44444px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TBODY_12*/
#ATR_13 {
    color: rgb(103, 103, 103);
    height: 18.8889px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 774.444px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 387.222px 9.44444px;
    transform-origin: 387.222px 9.44444px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TR_13*/
#ATD_14 {
    color: rgb(103, 103, 103);
    height: 17.7778px;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: middle;
    width: 690px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 345px 9.375px;
    transform-origin: 345px 9.375px;
    caret-color: rgb(103, 103, 103);
    border-top: 0.989583px solid rgb(214, 232, 255);
    border-right: 0px none rgb(103, 103, 103);
    border-bottom: 0px none rgb(103, 103, 103);
    border-left: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_14*/
#AH4_15 {
    color: rgb(102, 102, 102);
    height: 17.7778px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 690px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 345px 8.88889px;
    transform-origin: 345px 8.88889px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#H4_15*/
#ATD_16 {
    color: rgb(103, 103, 103);
    height: 17.7778px;
    text-align: -webkit-right;
    text-decoration: none solid rgb(103, 103, 103);
    vertical-align: top;
    width: 84.4445px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 42.2222px 9.375px;
    transform-origin: 42.2222px 9.375px;
    caret-color: rgb(103, 103, 103);
    border-top: 0.989583px solid rgb(214, 232, 255);
    border-right: 0px none rgb(103, 103, 103);
    border-bottom: 0px none rgb(103, 103, 103);
    border-left: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(103, 103, 103) none 0px;
}/*#TD_16*/
#AA_17 {
    color: rgb(0, 114, 188);
    height: 22px;
    text-align: -webkit-right;
    text-decoration: none solid rgb(0, 114, 188);
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    background: rgb(214, 232, 255) url("http://win-sharepointd/_layouts/images/toolgrad.gif") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.989583px solid rgb(131, 176, 236);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
    padding: 0px 5px;
}/*#A_17*/
#ADIV_18 {
    color: rgb(76, 76, 76);
    height: 17.7778px;
    text-decoration: none solid rgb(76, 76, 76);
    width: 775px;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 387.5px 17.8819px;
    transform-origin: 387.5px 17.8819px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
    padding: 6px 0px 12px;
}/*#DIV_18*/
#ADIV_19 {
    color: rgb(76, 76, 76);
    height: 17.7778px;
    text-decoration: none solid rgb(76, 76, 76);
    unicode-bidi: isolate;
    width: 775px;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 387.5px 8.88889px;
    transform-origin: 387.5px 8.88889px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#DIV_19*/ 
#ADIV_20 {
    color: rgb(76, 76, 76);
    height: 17.7778px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(76, 76, 76);
    unicode-bidi: isolate;
    width: 775px;
    word-wrap: break-word;
    column-rule-color: rgb(76, 76, 76);
    perspective-origin: 387.5px 8.88889px;
    transform-origin: 387.5px 8.88889px;
    caret-color: rgb(76, 76, 76);
    border: 0px none rgb(76, 76, 76);
    font: normal normal 400 normal 10.6667px / 18.1333px Verdana, Arial, sans-serif;
    outline: rgb(76, 76, 76) none 0px;
}/*#DIV_20*/
#ADIV_21 {
    color: rgb(102, 102, 102);
    height: 13.3333px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 1165.56px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 582.778px 17.6563px;
    transform-origin: 582.778px 17.6563px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 22px;
}/*#DIV_21*/
#ANOBR_22 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#NOBR_22*/
#ASPAN_23 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    white-space: nowrap;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_23*/
#AA_24 {
    color: rgb(0, 114, 188);
    text-decoration: none solid rgb(0, 114, 188);
    white-space: nowrap;
    column-rule-color: rgb(0, 114, 188);
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
    padding: 4px 0px 0px;
}/*#A_24*/
#AIMG_25 {
    color: rgb(102, 102, 102);
    height: 0.989583px;
    text-decoration: none solid rgb(102, 102, 102);
    white-space: nowrap;
    width: 2.98611px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 1.49306px 0.486111px;
    transform-origin: 1.49306px 0.486111px;
    caret-color: rgb(102, 102, 102);
    border: 0px solid rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_25*/
#AIMG_26 {
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 11.9965px;
    text-decoration: none solid rgb(102, 102, 102);
    vertical-align: top;
    white-space: nowrap;
    width: 11.9965px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 5.98958px 5.98958px;
    transform-origin: 5.98958px 5.98958px;
    caret-color: rgb(102, 102, 102);
    border: 0px solid rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    margin: 0px 3px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_26*/
#ASPAN_27 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    unicode-bidi: isolate;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.6667px / normal Verdana, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_27*/
#ADIV_28 {
    color: rgb(103, 103, 103);
    text-decoration: none solid rgb(103, 103, 103);
    width: 1165.56px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 582.778px 0px;
    transform-origin: 582.778px 0px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 1.33333px / normal Verdana, Arial, sans-serif;
    margin: 12px 0px 0px;
    outline: rgb(103, 103, 103) none 0px;
}/*#DIV_28*/

